body{}

/*---手機版型css---*/
@media screen and (max-width: 736px) {
img{width:100%;}
html{
	width:100%;
	min-height: 100%;
	font-family:Arial, Helvetica, "微軟正黑體", sans-serif;

}

div > a > img{
	display: none;
}

#nav,
#nav_index,
#box_right,
#box_left,
.notice,
.fb,
.bg_banner1
{
	display: none;
	-webkit-display: none;
	-webkit-visibility: hidden;
	-moz-visibility: hidden;
}

#banner{
	width: 100%;
	-webkit-box-sizing:border-box;
}

#banner img{
	width:100%;
	height:auto;
	padding-top: 5%;
}

#MENU{
	width:250px;
	height:220px;

	position:fixed;
	z-index:9999;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding-top: 30px;

	background-color: #fff;
	border-radius: 15px;
	box-shadow: 5px 5px 40px #111;
	-webkit-transition:all .3s ease-out; /* 宣告 transition 動畫 */
}

#MENU ul li{

}
#MENU ul li a{
	width: 80%;
	height:60px;
	color: #fff;
	display: block;
	text-align: center;
	margin:10% auto;
	font-size: 1.5em;
	line-height: 60px;
	border-radius: 10px;
	text-decoration: none;
	background-color: #000;
}

#btn_close{
	display:block;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	border-radius:50%;
	-webkit-border-radius:50%;
	background-color:#900;
	color:#FFF;
	border:1px solid #666;
	position:absolute;
	right:-10px;
	top:-10px;
}

.CLOSE{
	-webkit-transform: scale(0); /* 縮小到消失 */
	opacity:0;
}

.OPEN{
	-webkit-transform: scale(1); /* 縮小到消失 */
	opacity:1;
}

.title_menu{
	text-indent: -999px;
}

.fa-th-list{color:#fff;}

.title{
	width: 100%;
	height: 60px;
	top:0;
	position: fixed;
	background-color: #222;
}

.title p{
	font-size: 1.6em;
	text-align: center;
	color:#fff;
	width: 60%;
	height:45px;
	display: block;
	margin:0 auto;
	padding-top: 3%;
}

#BTN{
	color:#fff;
	width: 20%;
	height: 45px;
	display: block;
	padding-top: 1%;
	padding-left: 85%;
	position: absolute;
	
}

#content_box,
#content_box_item{
	width:100%;
}

#box_left{
	width:100%;
}

#box_left ul li a{
	display: block;
	width:100%;
	height:50px;
	color:#222;
	font-size: 1.3em;
	background-color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	box-shadow: 0px 1px 5px #333;
	-webkit-box-shadow: 0px 1px 5px #333;
	text-shadow:0px 1px 3px #333;
	-webkit-text-shadow:0px 1px 3px #333;
}

.inf_cellphone_hospital{
	width: 100%;
	padding: 3% 3%;
	font-size: 1.2em;
	-webkit-box-sizing:border-box;
}

.inf{
	width: 100%;
	display: block;
	padding-top: 2%;
	-webkit-box-sizing:border-box;
}

.drPic{
	width:100%;
	height:150px;
	display: block;
	overflow: hidden;
	/*background-color: #c40;*/
}

.doctor1,
.doctor2,
.doctor3,
.doctor4,
.doctor5,
.doctor6,
.doctor7,
.doctor8,
.doctor9{
	width: 30%;
}



.doctor1_name,
.doctor2_name,
.doctor3_name,
.doctor4_name,
.doctor5_name,
.doctor6_name,
.doctor7_name,
.doctor8_name,
.doctor9_name{
	width:60%;
	height: 60px;
	display: block;
	padding-top: 10%;
	float: right;
	font-size: 2em;
}

.doctor1_ex,
.doctor2_ex,
.doctor3_ex,
.doctor4_ex,
.doctor5_ex,
.doctor6_ex,
.doctor7_ex,
.doctor8_ex,
.doctor9_ex{
	width: 100%;
	font-size: 1.2em;
	padding-top: 3%;
	padding-left: 2%;
	margin-bottom: 2%;
	-webkit-box-sizing:border-box;
}

.space{
	width: 100%;
	height:50px;
	display: block;
}

.itemPic{
	width:100%;
	min-height:200px;
	background-image: url(img/cover3.jpg);
	background-position:top center ;
	background-size: 100%;
	background-repeat: no-repeat;
}

.title_case{
	font-size: 1.5em;
	font-weight: bold;
}

.inf_case{
	padding-top: 2%;
	font-size: 1.2em;
	text-align: justify;
}

footer{
	width:100%;
	height:50px;
	bottom: 0;
	position: fixed;
	background-color: #222;
}

.phone{
	display: block;
	width:50%;
	height:50px;
	float: right;
	font-size: 1.3em;
	text-align: center;
	line-height: 50px;
	text-shadow:0px 1px 3px #333;
	-webkit-text-shadow:0px 1px 3px #333;
}
.address{
	display: block;
	width:50%;
	height:50px;
	float: left;
	font-size: 1.3em;
	text-align: center;
	line-height: 50px;
	text-shadow:0px 1px 3px #333;
	-webkit-text-shadow:0px 1px 3px #333;
}

.inf_appointment{
	margin-top: 12%;
	width:100%;
	min-height:280px;
	background-image: url(img/appointment.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.img_aboutus{
	margin-top: 13%;
	width:100%;
	min-height:240px;
	background-image: url(img/aboutus.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.inf_aboutus{
	font-size: 1.5em;
}

.title_appointment{
	font-size: 1.6em;
	font-weight: bold;
	padding-left: 20px;
}
.content_appointment{
	font-size: 1.2em;
    padding: 20px;
    text-align: justify;
}

.link{
	color:#fff;
	text-decoration: none;
}

.fa-map-marker{
	color:#C30;
	margin-right: 5%;
}

.fa-phone{
	color:#00A600;
	margin-right: 5%;
}

} /* 手機版型css */